@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>




<address>
    <label>Rafał Pankratjew</label><br>
    <label>Tel: 790 406 568</label><br>
     <label>E-mail:&nbsp;</label><a href="mailto: rafal.pankratjew@gmail.com">rafal.pankratjew@gmail.com</a><br>
     <label>github:&nbsp;</label><a href="https://github.com/raffdev95">github.com/raffdev95</a>
</address>